.breadcrumb {
  line-height: 8rem;
  padding-left: 2rem;
  display: flex;
  justify-content: flex-start;
  &__link {
    display: flex;
    align-items: center;
    margin-right: 1.6rem;
    &-icon {
      height: 2.4rem;
    }
  }
  &__arrow {
    margin-right: 1.6rem;
    margin-left: 1.6rem;
  }
}