.card {
  width: $card-width;
  height: 30rem;
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  &__header {
    flex-basis: 10rem;
    background-position: center; 
    background-size: $card-width;
  }
  &__main {
    background-color: pink;
    flex: auto;
  }
  &__footer {
    .pagination-nav {
      background-color: pink;
      margin-bottom: 5px;
    }
  }
}

.activity {
  padding-left: 3rem;
  padding-right: 3rem;
  line-height: 5rem;
  display: flex;
  justify-content: space-between;
}