.pagination {
  background-color: blue;
  height: .8rem;
  width: 100%;
  border-radius: 1000rem;
  overflow: hidden;
  display: flex;
  &__item {
    flex: 1;
    &:hover {
      cursor: pointer;
    }
    &.active {
      background-color: red;
    }
  }
  &__item:not(:first-child) {
    border-left: 1px solid #fff;
  }
}

.pagination-nav {
  font-style: italic;
  padding-left: 3rem;
  padding-right: 3rem;
  display: flex;
  justify-content: space-between;
  & *:hover {
    cursor: pointer;
  }
}