@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes slideleft {
  0% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes slideright {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes slidedown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes slideup {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}

.slide-right {
  animation-name: slideright;
  animation-duration: .6s;
}

.slide-left {
  animation-name: slideleft;
  animation-duration: .6s;
}

.slide-down:after {
  animation-name: slidedown;
  animation-duration: .3s;
}

.slide-up:after {
  animation-name: slideup;
  animation-duration: .3s;
}