body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
}

#root {
  height: 100vh;
}

#app {
  height: 100%;
  display: flex;
  flex-direction: row;
}