body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: $default-font-size;
  line-height: 1.7;
}

#root {
  height: 100vh;
}

#app {
  height: 100%;
  display: grid;
  grid-template-areas:
    "side-panel top-panel"
    "side-panel main";
  grid-template-columns: $side-panel-width 1fr;
  grid-template-rows: $top-panel-height 1fr;

  .side-panel {
    grid-area: side-panel;
  }
  .top-panel {
    grid-area: top-panel;
  }
  .main {
    grid-area: main;
  }
}

.heading-primary {
  color: #000;
  font-size: 3.6rem;
  margin-bottom: 6rem;
}