body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: $default-font-size;
  line-height: 1.7;
  color: $color-text-default;
}

#root {
  height: 100vh;
}

.heading-primary {
  color: $color-text-default;
  font-size: 3.6rem;
  margin-bottom: 3rem;
}