@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes slideleft {
  0% {
    transform: translateX(50%); }
  100% {
    transform: translateX(0%); } }

.slide-left {
  animation-name: slideleft;
  animation-duration: .5s; }

@keyframes slideright {
  0% {
    transform: translateX(-50%); }
  100% {
    transform: translateX(0%); } }

.slide-right {
  animation-name: slideright;
  animation-duration: .5s; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #4F4F4F; }

#root {
  height: 100vh; }

.heading-primary {
  color: #4F4F4F;
  font-size: 3.6rem;
  margin-bottom: 3rem; }

.btn, .btn:link, .btn:visited {
  font-family: inherit;
  font-size: inherit;
  text-decoration: none;
  padding: .75rem 2.5rem;
  display: inline-block;
  border-radius: .5rem;
  transition: all .2s;
  color: #4F4F4F;
  text-align: center;
  background-color: buttonface;
  line-height: inherit;
  border: none;
  cursor: pointer; }

.btn:active, .btn:focus {
  outline: none; }

input {
  font-family: inherit;
  font-size: inherit;
  line-height: 3;
  padding-left: 2rem;
  padding-right: 2rem;
  border-style: none; }
  input:active, input:focus {
    outline: none; }

.card {
  width: 37rem;
  height: 24rem;
  margin-top: 5rem;
  background-color: #FAFAFA;
  border-radius: 6px;
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2), 0 4px 5px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.12);
  cursor: pointer; }
  .card:hover {
    outline: 1px solid #4FF7B5; }
  .card__header {
    flex-basis: 12rem;
    background-position: center;
    background-size: 37rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; }
    .card__header-heading {
      font-size: 2.4rem;
      text-transform: uppercase;
      letter-spacing: 3px; }
  .card__main {
    font-size: 1.4rem;
    flex-basis: 10rem;
    position: relative;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px; }
  .card__footer {
    flex-basis: 2rem;
    z-index: 3;
    font-size: 1.2rem;
    text-transform: lowercase;
    padding-left: 3rem;
    padding-right: 3rem;
    display: flex;
    justify-content: space-between;
    color: blue; }
    .card__footer * {
      cursor: pointer; }
  .card.full-card {
    height: 47rem;
    overflow: auto; }
    .card.full-card .card__main {
      flex: 1;
      overflow: auto; }

.activity {
  padding-left: 3rem;
  padding-right: 3rem;
  line-height: 3rem;
  height: 3rem;
  overflow: hidden;
  z-index: 3;
  display: flex;
  justify-content: space-between; }
  .activity:hover {
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2), 0 3px 14px rgba(0, 0, 0, 0.12), 0 8px 10px rgba(0, 0, 0, 0.14); }
  .activity__completed {
    color: #008F4A; }
  .activity__icon-box {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .activity__icon.activity-checked {
    margin-right: -3px; }
  .activity__icon:hover {
    transform: scale(1.15); }
  .activity__icon-ignore {
    position: absolute;
    width: 65%;
    left: -100%;
    top: 33%; }
    .activity__icon-ignore:hover {
      transform: scale(1.3); }
  .activity__icon-check {
    position: absolute;
    width: 75%;
    right: -100%;
    top: 30%; }
    .activity__icon-check:hover {
      transform: scale(1.4); }

.activity-box {
  height: 47rem;
  width: 60rem;
  overflow: auto;
  background-color: #FAFAFA;
  margin-top: 5rem;
  margin-left: 2rem;
  padding: 2rem;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2), 0 4px 5px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.12);
  border-radius: 5px; }
  .activity-box:hover {
    outline: 1px solid #4FF7B5; }

.pagination {
  margin-top: 1rem;
  background-color: blue;
  height: .8rem;
  width: 100%;
  border-radius: 1000rem;
  display: flex; }
  .pagination__item {
    flex: 1; }
    .pagination__item:hover {
      cursor: pointer; }
    .pagination__item.active {
      background-color: red; }
  .pagination__item:not(:first-child) {
    border-left: 1px solid #fff; }

.progress-bar {
  margin-top: 1rem;
  height: .8rem;
  width: 100%;
  border-radius: 1000rem;
  background-image: linear-gradient(to right, #EBFF00 0%, rgba(20, 255, 0, 0.5) 27.07%, rgba(44, 252, 239, 0.5) 56.35%, rgba(69, 38, 255, 0.5) 78.45%, rgba(255, 28, 191, 0.5) 100%);
  display: flex;
  justify-content: flex-end; }
  .progress-bar__hide {
    border-top-right-radius: 1000rem;
    border-bottom-right-radius: 1000rem;
    background-color: #F2F2F2; }

.breadcrumb {
  line-height: 8rem;
  padding-left: 2rem;
  display: flex;
  justify-content: flex-start; }
  .breadcrumb__link {
    display: flex;
    align-items: center;
    margin-right: 1.6rem; }
    .breadcrumb__link-icon {
      height: 2.4rem; }
  .breadcrumb__arrow {
    margin-right: 1.6rem;
    margin-left: 1.6rem; }

.spinner {
  border: 3px solid #F5F5F5;
  border-top: 3px solid #008F4A;
  border-radius: 50%;
  width: 1.7rem;
  height: 1.7rem;
  animation: spin 2s linear infinite; }

.top-panel {
  color: #4F4F4F;
  overflow: hidden; }
  .top-panel__primary {
    background-color: #F5F5F5;
    height: 7.5rem;
    border-bottom: 1.5px solid #4FF7B5;
    display: flex; }
    .top-panel__primary-first {
      flex-grow: 1;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 4rem;
      padding-right: 4rem; }
      .top-panel__primary-first .search-bar {
        width: 70%;
        position: relative; }
        .top-panel__primary-first .search-bar input {
          width: 100%;
          border-radius: 100rem;
          padding-left: 4rem;
          padding-right: 4rem; }
        .top-panel__primary-first .search-bar img {
          position: absolute;
          right: 2rem;
          top: 50%;
          transform: translate(0, -50%); }
      .top-panel__primary-first img {
        width: 2rem;
        cursor: pointer; }
    .top-panel__primary-second {
      flex-basis: 25rem;
      height: 100%;
      top: 0;
      right: 0;
      border-left: 1.5px solid #4FF7B5;
      display: flex;
      align-items: center;
      justify-content: space-around; }
      .top-panel__primary-second a:visited {
        color: #4F4F4F; }
  .top-panel__secondary {
    background-color: #F5F5F5;
    height: 7.5rem;
    border-bottom: 1.5px solid #4FF7B5; }

.top-panel-dashboard {
  height: 100%;
  line-height: 4rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 6rem; }
  .top-panel-dashboard__item {
    cursor: pointer; }
    .top-panel-dashboard__item.active {
      font-weight: 800; }
  .top-panel-dashboard__item:not(:last-child) {
    margin-right: 6rem;
    position: relative; }
    .top-panel-dashboard__item:not(:last-child)::after {
      content: '';
      position: absolute;
      top: 0;
      right: -3rem;
      height: 100%;
      width: 1px;
      background-color: #4FF7B5;
      cursor: initial; }

.side-panel {
  background-color: #F5F5F5;
  border-right: 1.5px solid #4FF7B5;
  height: 100%;
  overflow: hidden; }
  .side-panel__item {
    width: 100%;
    height: 10rem;
    line-height: 10rem; }
    .side-panel__item a {
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      border-width: 0 0 0 8px;
      border-style: solid;
      border-color: transparent; }
      .side-panel__item a.active {
        border-color: #21CB8D;
        background-color: rgba(0, 143, 74, 0.1); }
        .side-panel__item a.active:hover {
          background-color: rgba(0, 143, 74, 0.1); }
      .side-panel__item a:visited {
        color: #4F4F4F; }
      .side-panel__item a:hover {
        border-color: #008F4A;
        background-color: rgba(0, 245, 127, 0.1); }
    .side-panel__item.side-panel__logo {
      height: calc(7.5rem +  7.5rem);
      margin-bottom: 2rem;
      display: flex;
      justify-content: center;
      align-items: center; }

#app {
  height: 100%;
  display: grid;
  grid-template-areas: "side-panel top-panel" "side-panel main";
  grid-template-columns: 11rem 1fr;
  grid-template-rows: calc(7.5rem +  7.5rem) 1fr; }
  #app .side-panel {
    grid-area: side-panel; }
  #app .top-panel {
    grid-area: top-panel; }
  #app .main {
    grid-area: main; }

.main {
  background-color: #F5F5F5;
  padding-left: 13rem;
  padding-right: 13rem;
  overflow: auto; }

.signin {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-column-gap: 3rem;
  grid-auto-columns: 1fr;
  grid-template-areas: ". info info info info . . form form form form ."; }
  .signin__info {
    grid-area: info;
    height: 100%;
    background-color: lightgreen;
    display: flex;
    justify-content: center;
    align-items: center; }
    .signin__info-content {
      display: block;
      text-align: left;
      padding: 3rem; }
      .signin__info-content .info-boxes {
        display: flex;
        flex-direction: row;
        justify-content: space-between; }
      .signin__info-content .info-box {
        background-color: lightblue;
        min-width: 20rem; }
        .signin__info-content .info-box h3 {
          padding-left: 2rem;
          padding-top: 2rem; }
        .signin__info-content .info-box ul {
          list-style-type: none;
          padding: 2rem; }
  .signin__form {
    grid-area: form;
    height: 100%;
    display: flex;
    align-items: center; }
    .signin__form-box {
      padding: 5rem 10%;
      background-color: pink;
      width: 100%; }
      .signin__form-box input, .signin__form-box .btn {
        display: block;
        width: 100%;
        margin-bottom: 2rem; }

.dashboard__lists {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap; }

.dashboard-list__board {
  display: flex;
  flex-direction: row;
  justify-content: center; }
