// Colors
$color-stroke: #4FF7B5;
$color-text: #008F4A;
$color-background: #FAFAFA;
$color-background-2: #4C4D4C;

// Typography
$default-font-size: 1.6rem;

// Layout
$side-panel-width: 15rem;
$top-primary-height: 7.5rem;
$top-secondary-height: 7.5rem;
$top-panel-height: calc(#{$top-primary-height} +  #{$top-secondary-height});
$card-width: 37rem;
$card-height: 24rem;