// Colors
$color-stroke: #4FF7B5;
$color-text: #008F4A;
$color-background: #FAFAFA;
$color-background-2: #F5F5F5;
$color-text-default: #4F4F4F;

// Typography
$default-font-size: 1.6rem;

// Layout
$side-panel-width: 11rem;
$top-primary-height: 7.5rem;
$top-secondary-height: 7.5rem;
$top-panel-height: calc(#{$top-primary-height} +  #{$top-secondary-height});
$card-width: 37rem;
$card-height: 24rem;
$card-margin-top: 5rem;
$card-full-height: 47rem;
$activity-box-height: $card-full-height;
$activity-box-width: 60rem;
$main-padding: 13rem;