#app {
  height: 100%;
  display: grid;
  grid-template-areas:
    "side-panel top-panel"
    "side-panel main";
  grid-template-columns: $side-panel-width 1fr;
  grid-template-rows: $top-panel-height 1fr;

  .side-panel {
    grid-area: side-panel;
  }
  .top-panel {
    grid-area: top-panel;
  }
  .main {
    grid-area: main;
  }
}

.main {
  background-color: $color-background-2;
  padding-left: $main-padding;
  padding-right: $main-padding;
}
