.top-panel {
  &__primary {
    background-color: #e3e3e3;
    height: $top-primary-height;
    border-bottom: 1px solid #000;
    position: relative;
    &-side {
      position: absolute;
      width: 25rem;
      height: 100%;
      top: 0;
      right: 0;
      border-left: 1px solid #000;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
  }
  &__secondary {
    background-color: #e3e3e3;
    height: $top-secondary-height;
    border-bottom: 1px solid #000;
  }
}